* {
  box-sizing: border-box;
}

/* LoginPage css= login-wrapper */
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  min-width: 51rem;
  max-width: 41rem;
  padding: 32px;
  margin-left: 550px;
}

.content-container {
  background-color: white;
  border-radius: 8px;
  min-width: 300px;
  max-width: 650px;
  padding: 32px;
  margin-left: 233px;
}

.nav-options {
  display: flex;
  gap: 30px;
}

.navbar-right li button {
  margin-top: 8px;
}

main {
  display: block;
}

.maintenanceReqItem {
  display: flex;
  justify-content: space-between;

}

label {
  display: inline-block;
  width: 250px;
  text-align: left;
}

.maintenanceReqList {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.maintenanceReqList th,
.maintenanceReqList td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.maintenanceReqList th {
  background-color: #75E6DA;
}

.maintenanceReqItem {
  background-color: #f9f9f9;
}

.maintenanceReqItem td {
  padding: 10px;
}

.maintenanceReqItem:nth-child(even) {
  background-color: #f2f2f2;
}

.navbar-right li button a {
  color: #fff;
  text-decoration: none;
}

.feature {
  width: 320px;
  float: left;
  margin: 0 4px -4px 50;
}

.p1 {
  font-size: large;
  font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, "sans-serif";
}

.column {
  float: left;
  padding: 20px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 40%;
}

.column.right {
  width: 35%;
}

.input_1:not(:focus):not(:placeholder-shown):valid {
  border: 2px solid #1bb517;
}

.input_1 {
  all: unset;
  color: #424242;
  background: #FFF;
  border: 1px solid #EEEEEE;
  border-radius: 0.25rem;
  padding: 0.95rem .5rem;
  width: 100%;
}

.footer {
  background-color: #54858C;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.description_input {
  width: 205px;
  height: 150px;
}

textarea {
  vertical-align: middle;
}